/*======= PAGE SETUP =======*/

body {
  font-size: 2em;
  font-weight: 200;
  color: #595959;
}

/*======= NAVIGATION =======*/

.navbar{
  padding-top: 40px;
  background: white;
}

.navbar-default {
  border-bottom: 0;
}

.navbar .container {
  border-bottom: 1px solid gray;
}

.navbar-brand {
  font-size: 125%;
}

.small {
  font-size: 90%;
  margin-top: 1.2em;
  padding-left: 2em;
  font-weight: 200;
}

.nav li {
  margin: 1em 2em 0 0;
}

.nav li a {
  color: #595959;
  border-radius: 20px;
}

.nav li a:hover, .nav li a:focus {
  color: #595959;
  background: white;
  border: 1px solid #595959;
}

.active {
  border: 1px solid #595959;
  border-radius: 20px;
  /*font-weight: bold;*/
}

/*======= MAIN CONTENT =======*/

.main {
  margin-top: 170px;
  text-align: center;
  width: 80%;
}

.main * {
  padding-bottom: 1em;
}

hr {
  margin-bottom: -15px;
}

#profile {
  margin: 1em 1em 1em 1em;
  border-radius: 60px;
  float: left;
}

#about {
  width: 500px;
  margin: 0 auto;
}

.main ol {
  text-align: left;
  width: 175px;
  margin: auto;
}

.main ul {
  list-style-type: none;
}

.main ul li {
  display: inline-block;
  background: white;
  border-radius: 20px;
  padding-bottom: 0;
  margin-bottom: 0.5em;
}

.main ul li span {
  padding-bottom: 0;
}

.main ul li a {
  color: #428000;
  text-decoration: none;
  padding-top: 1em;
  font-size: 1em;
}

.main ul li a:hover {
  color: #336600;
  border: 2px solid #336600;
  border-radius: 20px;
}

h3 a, h3 a:visited {
  color: #428000;
  text-decoration: none;
}

h3 a:hover, h3 a:focus {
  color: #336600;
  text-decoration: none;
  font-weight: bold;
}

#under {
  text-decoration: underline;
}

/*======= FOOTER =======*/

.footer {
  font-size: 75%;
}

/*======= ADJUST FOR RESPONSIVENESS =======*/

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 0;
  }

  .small {
    padding-left: 0;
  }

  .nav {
    text-align: center;
    margin: 0 auto;
  }

  nav ul {
    padding-bottom: .5em;
  }

  .main {
    margin-top: 130px;
  }

  #about {
    width: 90%;
  }
}
