/*======= PAGE SETUP =======*/

body {
  font-family: serif;
  font-weight: 100;
  font-size: 2em;
}

/*======= NAVIGATION =======*/

.small {
  font-weight: 100;
}

.navbar{
  background: #336600;
  color: white;
  padding-top: 40px;
}

.navbar-brand {
  font-size: 125%;
}

.small {
  font-size: 90%;
  margin-top: 1.2em;
  padding-left: 2em;
}

.nav li {
  margin: 1em 2em 0 0;
}

.nav li a {
  color: white;
  border-radius: 20px;
}

.nav li a:hover, .nav li a:focus {
  color: #336600;
  box-shadow: 5px 5px 5px #1a3300;
}

/*======= MAIN CONTENT =======*/

.main {
  margin-top: 150px;
  text-align: center;
  width: 60%;
  background-image: url("header.jpg");
}

#profile {
  margin-top: -1em;
  border-radius: 60px;
}

.main * {
  padding-bottom: 1em;
}

.main ol {
  text-align: left;
  width: 175px;
  margin: auto;
}

.main ul {
  list-style-type: none;
}

.main ul li {
  display: inline-block;
  background: #336600;
  border-radius: 20px;
  padding-bottom: 0;
}

.main ul li span {
  padding-bottom: 0;
}

.main ul li a {
  color: white;
  text-decoration: none;
  padding-top: 1em;
  font-size: 1em;
}

.main ul li a:hover {
  background: #428000;
  color: white;
  border-radius: 20px;
}

h3 a, h3 a:visited {
  color: #336600;
  text-decoration: none;
}

h3 a:hover, h3 a:focus {
  color: #336600;
  text-decoration: none;
  font-weight: bold;
}

#under {
  text-decoration: underline;
}
